<ion-modal-view>
	<div class="form-wrap list list-inset col-md-12">
		<form ua-login>
			<label class="item item-input">
				<input name="login" placeholder="Username" type="text">
			</label>
			<label class="item item-input">
				<input name="password" placeholder="Password" type="password">
			</label>					
				<p><button type="submit" class="button button-block button-positive">Log in</button></p>
				<div class="text-center">	
					<p> or <a href="" ua-oauth-link="google" class="button button-block button-assertive">Log in with Google</a></p>
					<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
					<p ng-show="error">{{ error.message }}</p>
				</div>
		</form>
		<div>
			<p class="text-center"><a href="#/signup" class="button button-block button-positive">Sign up</a></p>
		</div>
	</div>
</ion-modal-view>

