<ion-view title="New Matches" no-scroll>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon  ion-search"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" scroll="false"> 
  <!--<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>-->
      <div class="searching" ng-show="!cards.length">
        <!--<div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>-->
        <ion-spinner class="spinner" icon="lines"></ion-spinner>  
        <p>Searching for potential matches</p>
      </div>
        <!-- Slides -->       
       <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index, card)" on-swipe-right="cardSwipedRight($index, card)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
          <div class="image" >
            <div class="no-text">NOPE</div>
            <img ng-src="{{card.avatar}}">
            <div class="yes-text">LIKE</div>
              <div class="buttons">
                <button class="button button-balanced" ng-click="cardSwipedRight($index, card)">
                  yes
                </button>
                <button class="button button-assertive" ng-click="cardSwipedLeft($index, card)">
                no
              </button>
            </div>
          </div>
        </td-card>
      </td-cards>   
      
  </ion-content>
</ion-view>