 <ion-view title="navTitle" hide-back-button="false" left-buttons="leftButtons" right-buttons="rightButtons"
      hide-back-button="false">
      <ion-content class="login-page">
	    
	        <div class="login-image" style="display: inline-block;">
	        	<div class="center">
	        		<form ua-reset-password ng-show="!verificationEmailSent">						
						<input name="login" ua-is-email placeholder="Email"><br>						
						
						<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
						<p ng-show="error">{{ error.message }}</p>
					</form>

					<p ng-show="verificationEmailSent">An email has been sent to your inbox. Click on the link to reset your password.</p>
					<p><a href="#/login">Log in</a></p>
	        	</div>
	        </div>
	  </ion-content>
  </ion-view>