 <ion-view class="forgot-password-view">
      <ion-content class="login-page" scroll="false">

  		<div class="top-content row">
		  	<div class="col col-center">
			    <!--<img ng-src="img/logo.png">-->
			</div>
		</div>	
	    	
	    	<div class="bottom-content row">  
		        <div class="login-image">
		        	<div class="center">
		        		<form ua-reset-password ng-show="!verificationEmailSent">						
							<input name="login" ua-is-email placeholder="Email"><br>						
							
							<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
							<p ng-show="error">{{ error.message }}</p>
						</form>

						<p ng-show="verificationEmailSent">An email has been sent to your inbox. Click on the link to reset your password.</p>
						<p><a href="#/login">Log in</a></p>
		        	</div>
		        </div>
		    </div>
	  </ion-content>
  </ion-view>