<ion-view title="Settings" no-scroll>
 <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" scroll="false">
   	<div class="settings-wrap container">
   		<form ng-submit="saveSettings(settings)">

   			<ul id="navlist" class="list">
			    <li class="item col-md-4">
			     	<button class="button icon-left ion-heart">
					  Existing Matches
					</button>
			    </li>

			     <li class="item col-md-4">
			     	<button class="button icon-left ion-heart">
					  Existing Matches
					</button>
			    </li>

			     <li class="item col-md-4">
			     	<button class="button icon-left ion-heart">
					  Messages
					</button>
			    </li>

			     <li class="item col-md-4">
			     	<button class="button icon-left ion-heart">
					  Settings
					</button>
			    </li>

			     <li class="item col-md-4">
			     	<button class="button icon-left ion-heart">
					  Profile
					</button>
			    </li>

			     <li class="item col-md-4">
			     	<button class="button icon-left ion-heart">
					  Help
					</button>
			    </li>

			</ul>
	   		<ul class="list">
	   			<div class="item item-divider">Profile Visibility</div>
	   			<ion-toggle ng-model="settings.profileHidden" toggle-class="toggle-assertive" >Hidden Profile</ion-toggle>	   			
	   			<div class="item item-divider">Search Radius</div>

	   			<div class="item range range-positive">
			        <i class="icon ion-ios-location"></i>
			        <input type="range" name="volume" min="0" max="100" value="{{settings.rangeValue}}" ng-model="settings.rangeValue">
			    	<span class="distance">Within {{settings.rangeValue}} Miles</span>
			    </div>

		    	<div class="item item-divider">About Me</div>
			        <i class="icon ion-chatbox item"></i>
			        <textarea name="bio" ng-model="settings.bio" class="item">{{settings.bio}}</textarea>	    

			    <button class="button button-balanced settings-button">
				  Save changes
				</button>
	   		</ul>
	   	</form>
   	</div>
  </ion-content>
</ion-view>